bin/
exec/
fix/
sorc/*.log
fix
ush/__pycache__/
ush/config.yaml
ush/python_utils/__pycache__/
ush/*.swp
*TOBEDELETED
*.swp
__pycache__
sorc/build
sorc/*.fd
ecf/post/jaqm_post_f*.ecf
ecf/nexus/jaqm_nexus_emission_0*.ecf
